<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-language" content="ja">
<meta charset="UTF-8">
<title>500 - Internal Server Error</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>予期しないエラーが発生しました</h1>
<div class="container bg-danger">
<span> The requested URL was not found on this server </span>
</div>
</body>
</html>